<app-create-test-case></app-create-test-case>

<div class="card shadow border-0 mb-7">
    <header class="bg-surface-primary border-bottom pt-6 pb-4">
        <div class="container-fluid">
            <div class="mb-npx">
                <div class="row align-items-center">
                    <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                        <!-- Title -->
                        <h1 class="h2 mb-0 ls-tight">Test case List</h1>
                    </div>

                    <!-- Actions -->
                    <div class="col-sm-6 col-12 text-sm-end">
                        <div class="mx-n1">
                            <button
                                class="btn d-inline-flex btn-sm btn-primary mx-1"
                                data-bs-toggle="modal"
                                data-bs-target="#createTestCaseModal"
                            >
                                <span class="pe-2">
                                    <i class="bi bi-plus"></i>
                                </span>
                                <span>Create new test case</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Table -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="text-center">Test Case Inputs</th>
                    <th scope="col" class="text-center">Test Case Outputs</th>
                    <th scope="col" class="text-center">Mark</th>
                    <th scope="col" class="text-center">Semester</th>
                    <th scope="col" class="text-center">Is input by line</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let testCase of testCaseList | async; let i = index">
                    <!-- Numerical order -->
                    <td class="text-center">
                        <span class="text-heading font-semibold"> {{ i + 1 }} </span>
                    </td>

                    <!-- Inputs -->
                    <td class="text-center">
                        <a class="text-heading font-semibold">
                            {{ testCase.inputs.join(" ") }}
                        </a>
                    </td>

                    <!-- Outputs -->
                    <td class="text-center">
                        <a class="text-heading font-semibold">
                            {{ testCase.outputs.join(" ") }}
                        </a>
                    </td>

                    <!-- Mark -->
                    <td class="text-center">
                        <a class="text-heading font-semibold"> {{ testCase.mark }} </a>
                    </td>

                    <!-- Semester -->
                    <td class="text-center">
                        <a class="text-heading font-semibold">
                            {{ testCase.semesterName }}
                        </a>
                    </td>

                    <!-- Is input by line -->
                    <td class="text-center">
                        <a class="badge badge-lg badge-dot text-heading font-semibold">
                            <i [class]="testCase.isInputByLine ? 'bg-success' : 'bg-danger'"></i>
                            {{ testCase.isInputByLine }}
                        </a>
                    </td>

                    <!-- Buttons -->
                    <td class="text-center">
                        <button type="button" class="btn btn-sm btn-info m-1">Detail</button>

                        <button type="button" class="btn btn-sm btn-danger btn-square">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer border-0 py-5">
        <span class="text-muted text-sm"
            >Showing 10 items out of {{ (testCaseList | async)?.length }} results found
        </span>
    </div>
</div>
