<section class="bg-body-secondary p-3 p-md-4 p-xl-5 vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5">
                <div class="card border border-light-subtle rounded-4">
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <h1 class="text-center text-capitalize">Change your password</h1>
                        <!-- Change pass form -->
                        <form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()">
                            <div class="row gy-3 overflow-hidden">
                                <!-- Email -->
                                <div class="col-12">
                                    <div class="form-floating mb-1">
                                        <input
                                            type="email"
                                            class="form-control"
                                            placeholder="name@example.com"
                                            [formControl]="changePasswordForm.controls.email"
                                        />
                                        <label for="email" class="form-label">Email</label>
                                    </div>

                                    <!-- Error msg -->
                                    <div class="error text-danger text-start">
                                        <div
                                            *ngIf="
                                                changePasswordForm.controls.email.hasError('required') &&
                                                changePasswordForm.controls.email.touched
                                            "
                                        >
                                            Email is required
                                        </div>

                                        <div *ngIf="changePasswordForm.controls.email.hasError('pattern')">
                                            Invalid email format
                                        </div>
                                    </div>
                                </div>

                                <!-- Old Password -->
                                <div class="col-12">
                                    <div class="form-floating mb-1">
                                        <input
                                            class="form-control"
                                            type="password"
                                            placeholder="Old Password"
                                            [formControl]="changePasswordForm.controls.oldPassword"
                                        />

                                        <label for="password" class="form-label"> Old password </label>
                                    </div>

                                    <!-- Error msg -->
                                    <div class="error text-danger text-start">
                                        <div
                                            *ngIf="
                                                changePasswordForm.controls.oldPassword.hasError('required') &&
                                                changePasswordForm.controls.oldPassword.touched
                                            "
                                        >
                                            Old password is required
                                        </div>
                                    </div>
                                </div>

                                <!-- New Password -->
                                <div class="col-12">
                                    <div class="form-floating mb-1">
                                        <input
                                            class="form-control"
                                            type="password"
                                            placeholder="Old Password"
                                            [formControl]="changePasswordForm.controls.newPassword"
                                        />

                                        <label for="password" class="form-label"> New password </label>
                                    </div>

                                    <!-- Error msg -->
                                    <div class="error text-danger text-start">
                                        <div
                                            *ngIf="
                                                changePasswordForm.controls.newPassword.hasError('required') &&
                                                changePasswordForm.controls.newPassword.touched
                                            "
                                        >
                                            New password is required
                                        </div>
                                    </div>
                                </div>

                                <!-- Confirm Password -->
                                <div class="col-12">
                                    <div class="form-floating mb-1">
                                        <input
                                            class="form-control"
                                            type="password"
                                            placeholder="Confirm Password"
                                            [formControl]="changePasswordForm.controls.confirmPassword"
                                        />
                                        <label for="password" class="form-label"> Confirm password </label>
                                    </div>

                                    <!-- Error msg -->
                                    <div class="error text-danger text-start">
                                        <div
                                            *ngIf="
                                                changePasswordForm.controls.confirmPassword.hasError('required') &&
                                                changePasswordForm.controls.confirmPassword.touched
                                            "
                                        >
                                            Confirm password is required
                                        </div>

                                        <div
                                            *ngIf="
                                                changePasswordForm.controls.confirmPassword.hasError('matching') &&
                                                changePasswordForm.controls.confirmPassword.touched
                                            "
                                        >
                                            Confirm password and new password are not equal
                                        </div>
                                    </div>
                                </div>

                                <!-- Button login -->
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button
                                            type="submit"
                                            class="btn btn-primary p-2"
                                            [disabled]="changePasswordForm.invalid"
                                        >
                                            Change password
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- Password redirections -->
                        <div class="row">
                            <div class="col-12">
                                <hr class="mt-4 mb-2 border-secondary-subtle" />
                                <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-between">
                                    <a routerLink="/login" class="link-secondary text-decoration-none">
                                        <- Back to login
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
