<div class="login-page">
    <div class="form">
        <h1>Login</h1>
        <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
            <input type="email" placeholder="Email" [formControl]="loginForm.controls.email" />
            <input
                type="password"
                placeholder="password"
                [formControl]="loginForm.controls.password"
            />
            <button type="submit">login</button>
        </form>

        <div style="margin-top: 20px; display: flex; align-items: center">
            <span> Or login with Google: </span>
            <asl-google-signin-button />
        </div>
    </div>
</div>
