<div class="login-page">
    <div class="form">
        <h2>Change password</h2>
        <form [formGroup]="changePasswordForm" class="login-form" (ngSubmit)="submitForm()">
            <!-- Email -->
            <div class="mb-2 row">
                <div class="col-12">
                    <input
                        type="email"
                        placeholder="Email"
                        class="mb-0"
                        [formControl]="changePasswordForm.controls.email"
                    />
                </div>

                <!-- Error msg -->
                <div class="error text-danger text-start">
                    <p *ngIf="changePasswordForm.controls.email.hasError('required')">
                        Email is required
                    </p>

                    <p *ngIf="changePasswordForm.controls.email.hasError('pattern')">
                        Invalid Email
                    </p>
                </div>
            </div>

            <!-- Old password -->
            <div class="mb-2 row">
                <div class="col-12">
                    <input
                        type="password"
                        placeholder="Old password"
                        class="mb-0"
                        [formControl]="changePasswordForm.controls.oldPassword"
                    />
                </div>

                <!-- Error msg -->
                <div class="error text-danger text-start">
                    <p *ngIf="changePasswordForm.controls.oldPassword.hasError('required')">
                        Old password is required
                    </p>
                </div>
            </div>

            <!-- New password -->
            <div class="mb-2 row">
                <div class="col-12">
                    <input
                        type="password"
                        placeholder="New password"
                        class="mb-0"
                        [formControl]="changePasswordForm.controls.newPassword"
                    />
                </div>

                <!-- Error msg -->
                <div class="error text-danger text-start">
                    <p *ngIf="changePasswordForm.controls.newPassword.hasError('required')">
                        New password is required
                    </p>
                </div>
            </div>

            <!-- Confirm password -->
            <div class="mb-2 row">
                <div class="col-12">
                    <input
                        type="password"
                        placeholder="Re-enter new password"
                        class="mb-0"
                        [formControl]="changePasswordForm.controls.confirmPassword"
                    />
                </div>

                <!-- Error msg -->
                <div class="error text-danger text-start">
                    <p *ngIf="changePasswordForm.controls.confirmPassword.hasError('required')">
                        Re-enter password is required
                    </p>

                    <p *ngIf="changePasswordForm.controls.confirmPassword.hasError('matching')">
                        Re-enter password does not match to the new password
                    </p>
                </div>
            </div>

            <button [disabled]="changePasswordForm.invalid" class="btn mt-2" type="submit">
                Change password
            </button>
        </form>

        <div>
            <a style="text-decoration: none" routerLink="/login">Back to login</a>
        </div>
    </div>
</div>
