<!-- Button trigger modal -->
<button
    id="button"
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#myModal"
    style="display: none"
></button>

<!-- Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Error occurred</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">{{ message() }}</div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                    (click)="message.set('')"
                >
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
