<!-- <div class="position-absolute bottom-50 spinner-border text-primary">
    <span class="visually-hidden">Loading...</span>
</div> -->

<div class="login-page">
    <div class="form">
        <h1>Login</h1>
        <form [formGroup]="loginForm" class="login-form mb-1" (ngSubmit)="login()">
            <div class="mb-2 row">
                <div class="col-12">
                    <input
                        class="mb-0"
                        type="email"
                        placeholder="Email"
                        [formControl]="loginForm.controls.email"
                    />
                </div>

                <!-- Error msg -->
                <div class="error text-danger text-start">
                    <p *ngIf="loginForm.controls.email.hasError('required')">Email is required</p>
                    <p *ngIf="loginForm.controls.email.hasError('pattern')">Invalid email format</p>
                </div>
            </div>

            <div class="mb-2 row">
                <div class="col-12">
                    <input
                        class="mb-0"
                        type="password"
                        placeholder="Password"
                        [formControl]="loginForm.controls.password"
                    />
                </div>

                <!-- Error msg -->
                <div class="error text-danger text-start">
                    <p *ngIf="loginForm.controls.password.hasError('required')">
                        Password is required
                    </p>
                </div>
            </div>

            <button class="btn" [disabled]="loginForm.invalid" type="submit">login</button>
        </form>

        <span>Or</span>

        <div class="d-flex justify-content-center align-items-center mt-2">
            <asl-google-signin-button
                type="standard"
                shape="square"
                text="signin_with"
                size="large"
                logo_alignment="left"
                theme="filled_blue"
                [width]="270"
            />
        </div>

        <div class="mt-2">
            <a style="text-decoration: none" routerLink="/change-password">Change your password</a>
        </div>
    </div>
</div>
